.section {
  margin-left: 40px;
}

.button {
  display: block;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* .button:hover{
  background-color: blue;
  color: white;
} */

.button:active{
  background-color: blue;
  color: white;
}

.form {
  border: 1px solid black;
  width: 400px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input {
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 2px;
  
}

.input:focus {
  outline: transparent;
  border: 1px solid blue;
  border-radius: 2px;
}



.filter {
  margin-top: 10px;
  margin-bottom: 10px;
}

.list {
  display: flex;
  padding: 5px;
  width: 400px;
  justify-content: space-between;
  align-items: center;
}
